body{
	background-color: #007067 ;
}
h2{
	color: black;
}
div>strong>a{
	color: #03fcf0;
}
.navbar{
	border:none;
}
.navbar-brand{
	font-size: 30px;
	color: #03fcf0;
}
.navbar-header{
	background-color: black;
}
.navbar-toggle{
	border: 1px solid #03fcf0;
}
.navbar-default .navbar-toggle{
	border-color: #03fcf0;
}
.navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:hover {
    background-color: #03fcf0;
}
.container-fluid{
	background-color: black;
	border-width: 0px
}
#chicken-tile,#beef-tile,#sushi-tile{
	background-color: #88ebe2;
	box-shadow: 0 0 80px #84e8e0;
	padding: 10px;
	margin-top: 25px;
	margin-bottom: 50px;
}
#hr-tag{
	height: 5px;
	background-color:#03fcf0; 
	margin-left: -15px;
	margin-right : -15px;
}
#nav-list>li>a:focus,#nav-list>li>a:hover{
	color: #03fcf0
}